
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-principal: 'Roboto Condensed', sans-serif;
    --fonte-texto: 'Roboto', sans-serif;
    --fonte-creditos: 'Outfit', sans-serif;
    --cor-de-fundo: #000b19;
    --cor-de-texto: #ffffff;
    --cor-de-texto-secundaria: #c0c0c0;
    --tamanho-fonte-titulo: 2.5em;
    --tamanho-fonte-topico: 1em;
    --tamanho-fonte-creditos: 0.8em;
    --topico-não-clicado: linear-gradient(0deg, #000b19,#00204a);
    --topico-clicado: linear-gradient(0deg, #004195,#001837);
    --imagem-de-fundo: url('../img/main_background.png');
}
body {
    display: grid;
    grid-template-rows: 90% 10%;
    justify-content: center;

    background-color: var(--cor-de-fundo);
    height: 100vh;
    width: 100vw;

    color: var(--cor-de-texto);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

img {
    width: auto;
    height: auto; 
    margin-right: 1em;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    width: 100vw;
    height: 100vh;

    padding-left: 9em;
    gap: 1.5em;

    text-align: left;

    background-image: var(--imagem-de-fundo);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_titulo{
    font-size: var(--tamanho-fonte-titulo);
    font-weight: 700;
    text-shadow: 3px 3px 5px #000000;
}

.main_lista_topicos{
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    list-style: none;
    gap: 1.5em;

}

.main_topico {
    border-color: #fff;
    border-radius: 20px;
    border-style: solid;
    border-width: 1.5px;
    
    background-image: var(--topico-não-clicado);

    padding: 1em;
    width: 30em;

    font-size: var(--tamanho-fonte-topico);

    cursor: pointer;
}

.main_topico:hover{
    background-image: var(--topico-clicado);

    transform: scale(1.05);
    transition: background-image 0.5s ease-in-out;
}

.main_topico a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-decoration: none;
    color: var(--cor-de-texto);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 1em;

    font-family: var(--fonte-creditos);
    color: var(--cor-de-texto-secundaria);
    font-size: var(--tamanho-fonte-creditos);
}

footer a{
    color: var(--cor-de-texto-secundaria);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: #006eff;
}